<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./card.component.css">
</head>
<body>
    <!-- <h1>Card Component</h1> --> 
    <div  class="container d-flex flex-wrap justify-content-center align-items-center ">
        @for(product of products;track product.Pid){
        <div  class="card m-3" 
             
              style="width: 18rem; height: 30rem;">
            <img   routerLink="/pdp" 
            role="button" 
            tabindex="0" 
            style="cursor: pointer;" 
            (click)="addedtocart(product)"
            src="{{product.Pimage}}">
                <div  routerLink="/pdp" 
                role="button" 
                tabindex="0" 
                style="cursor: pointer;" class="card-body">
              <h5 class="card-title">{{product.Pname}}</h5>
              <p class="card-text">{{product.Pdesc}}</p>
              <h5>${{product.Pprice}}</h5>
            </div>
            <span class="buttons d-flex">
              <a  (click)="AddToCartFunc()"  (click)="prodcountf()" class="btn m-3" [ngClass]="class"> {{buttonname}} </a>
              <!-- <a   (click)="addedtocart(product)" class="btn m-3 mx-3 " > View Details </a> -->
            </span>
           <br>
             </div>
            
        } 
        </div>
        
</body>
</html>

