.container{
    background-color:#D0D0D0;
    
}
.buttons a{
    width: 9rem; 
    height: 2rem;
    background-color: #5f249f;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:smaller ;
    /* margin-left: 60px; */
    }
    
    