*{
    margin: 0;
    padding: 0;
    /* background-color: gray; */
    
}

body{
    width: 100%;
    background-color: #D0D0D0;
    /* background-image: url("/assets/imgfolder/bruno-kelzer-LvySG1hvuzI-unsplash.jpg");
    background-size: cover; */
    /* background-repeat: no-repeat; */
}


.navbar{
    width: 99%;
    height: 7rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 1rem; */
    /* margin-left: 20px; */
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: sticky;
    top: 0px;
    right: 0px;
    font-weight: 50;
    color: black;
    /* box-shadow: 1px 2px 15px gray; */

}
.navbar:hover{
    background-color: #5f249f;
    color: white;
    position: sticky;
    top: 0px;
    padding-left: 20px;
}
.navbar:hover #NavSection button{
color: white;

}
.navbar:hover .SearchBar input{
width: 8rem;    
color: white;
border: 1px solid white;
}
.navbar:hover  button{
    color: white;
    
}
#Logo{
    width: 10rem;
    height: 2rem;
    position: absolute;
    left: 1px;
    margin-top: 8px;
    background-image: url("/assets/imgfolder/DXC\ Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar:hover #Logo{
    /* background-color: white; */
    width: 8.5rem;
    height: 2rem;
    background-image: url("/assets/imgfolder/DXC\ Logo\ 2C\ Horiz_White\ RGB.png");
    background-size: contain;
    /* background-position: center; */

    background-repeat: no-repeat;
}
#NavSection{
    width: 30%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    /* gap: 20px; */

}


#NavSection button{
    list-style: none;
    /* display: inline; */
    margin-left: 100px;
    color: black;
    font-weight: 400;
    /* font-size: smaller; */
    border: none;
    background-color: transparent;
}


.SearchBar button{
    /* width: 6rem; */
    height: 1.2rem;
    /* border-radius:  ; */
    border: none;
    
    margin-left: 10px;
    background-color: transparent;
    /* background-image: url("/assets/imgfolder/magnifying-glass-solid.svg");
    background-size: contain;
    background-repeat: no-repeat; */
    
    /* background-color:gray; */
    /* color:black; */
}

#searchinput{
    /* display: none; */
    width: 8rem;
    height: 1.4rem;
    background-color: transparent;
    border: 1.7px solid white;
    border-radius: 30px;
    color: white;
    text-align: center;
    /* padding-right: 100px; */
    /* box-shadow: 1px 1px 9px white inset; */
}
.SearchBar input:hover{
    background-color: transparent;
    width: 8rem;
    height: 1.2rem;
    color: #5f249f;
    /* border: 1.7px solid white; */
}
.searchtext{
    margin-top: 4px;
   display: flex;
   flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 8rem;
}
.SearchBar h6{
    display: none;
   
}
#searchbutton:hover .SearchBar input{
    /* background-color: transparent; */
    display: flex;
}

.SearchBar:focus-within h6{
    display: block;
    font-size: x-small;
    color: white;
}

/* .Login{
    width: 12rem;
    display: flex;
    justify-content: space-between;
       
} */

/* .Login button{
    width: 5rem;
    height: 2rem;
    background-color:#5f249f;
    border-color: white;
    border: none;
    border-radius: 30px;
    color:white;
    margin: 10px;
    
}
.Login button:hover{
 background-color: white;
 color: #5f249f;
 box-shadow: 1px 5px 80px rgb(222, 212, 212);
} */
.menu{
    display: block;
}

.icons{
    position: absolute;
    right: 15px;
    gap: 10px;
    
}

.icons button{
   
border: none;


background-color: transparent;

}
#hellotext{
    font-size: smaller;
    margin-right: 20px;
    
}
#acc{
  padding-right: 100px;  
  width: 20rem;
  height: 20rem;
  padding-top: 0px;
}
.btn {
   width: fit-content; 
}
@media (max-width:1050px){
    .navbar{
        width: 100%;
        
        font-size: smaller;
    }
    .menu{
        display: flex;
       }
    
    #NavSection{
        width: fit-content;
    }
    #hellotext{
        position: fixed;
        font-size: smaller;
    }

    
}
@media (max-width:698px){
    #logo img{
        width: 2rem;
    }

    .navbar{
        width: 100vw;
        height: 80%;
        /* background-color: transparent; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* padding: 1.4rem;
        margin-left: 1%; */
        border-bottom-right-radius: 50px;
        position: sticky;
        top: 0px;
    }
    .navbar:hover{
        background-color: #5f249f;
    }
    #NavSection{
        
        display: none;
       
    }
    
    #NavSection li{
        list-style: none;
        display: inline;
        margin-left: 20px;
        color: black;
    
    }
    .SearchBar{
        display: none;
       /* width: 8em; */
       margin-left: 10px;
    
    }
    .SearchBar button{
        width: 5rem;
        height: 1.6rem;
        border-radius: 10px ;
        border: none;
        display: none;
        /* color:white; */
    }
    .SearchBar button:hover{
        background-color: white;
        color: #5f249f;
    }
    .SearchBar input{
        width: 12rem;
        height: 1.4rem;
        /* background-color: #5f249f; */
        border: 1.7px solid white;
        border-radius: 30px;
        color: white;
        text-align: center;
        display: none;
        /* box-shadow: 1px 1px 9px white inset; */
    }
    .SearchBar input:hover{
        background-color: white;
        color: #5f249f;
    }
    .SearchBar button:focus input{
       display: flex;
    }
   
    #menucheckbox i{
        display: block;
        position: fixed;
        right: 0px;
    }
    .icons{
        position: absolute;
        right: 10px;
    }
    /* #menuicon{
        display: block;
        color: white;
        width: 30px;
        height: 30px;
        background-image: url("/assets/imgfolder/menu-icon.svg");
        background-size: cover;
        
    } */
}