*{
    margin: 0;
    padding: 0;
    /* background-color: gray; */
    
}

body{
    width: auto;
    background-color: #D0D0D0;
    /* background-image: url("/assets/imgfolder/bruno-kelzer-LvySG1hvuzI-unsplash.jpg");
    background-size: cover; */
    /* background-repeat: no-repeat; */
}


.navbar{
    width: 94%;
    height: 7rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    margin-left: 20px;
    border-bottom-right-radius: 50px;
    position: sticky;
    top: 0px;
    color: black;
    /* box-shadow: 1px 2px 15px gray; */

}
.navbar:hover{
    background-color: #5f249f;
    color: white;
    position: sticky;
    top: 0px;
}
.navbar:hover #NavSection li{
color: white;

}
.navbar:hover .SearchBar input{
color: white;
border: 1px solid white;
}
.navbar:hover .SearchBar button{
    /* color: white; */
    fill-opacity: white;
    width: 1.2em;
    height: 1.2rem;    
}
#Logo{
    width: 10rem;
    height: 2rem;
    background-image: url("/assets/imgfolder/DXC\ Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar:hover #Logo{
    /* background-color: white; */
    width: 10rem;
    height: 2rem;
    background-image: url("/assets/imgfolder/DXC\ Logo\ 2C\ Horiz_White\ RGB.png");
    background-size: cover;
    /* background-position: center; */

    background-repeat: no-repeat;
}
#NavSection{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 100px; */
}


#NavSection li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    color: black;
    font-size: smaller;

}
.SearchBar{
    width: 45%;
    display: flex;
   /* width: 8em; */
   margin-left: 10px;

}
.SearchBar button{
    width: 10rem;
    height: 1.2rem;
    /* border-radius:  ; */
    border: none;
    background-color: transparent;
    background-image: url("/assets/imgfolder/magnifying-glass-solid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    
    /* background-color:gray; */
    /* color:black; */
}
.SearchBar button:hover{
    background-color: transparent;
 
    color: #5f249f;
}
.SearchBar input{
    width: 12rem;
    height: 1.4rem;
    background-color: transparent;
    border: 1.7px solid black;
    border-radius: 30px;
    color: white;
    text-align: center;
    /* box-shadow: 1px 1px 9px white inset; */
}
.SearchBar input:hover{
    background-color: transparent;
    width: 12rem;
    height: 1.2rem;
    color: #5f249f;
}
.SearchBar h6{
    display: none;
   
}
.SearchBar:focus-within h6{
    display: block;
    font-size: x-small;
    color: white;
}

.Login{
    width: 12rem;
    display: flex;
    justify-content: space-between;
       
}
.Login button{
    width: 5rem;
    height: 2rem;
    background-color:#5f249f;
    border-color: white;
    border: none;
    border-radius: 30px;
    color:white;
    margin: 10px;
    
}
.Login button:hover{
 background-color: white;
 color: #5f249f;
 box-shadow: 1px 5px 80px rgb(222, 212, 212);
}
#menucheckbox{
    display: none;
}
#menuicon{
    display: none;
    color: white;
    width: 30px;
    height: 30px;
    background-image: url("/assets/imgfolder/menu-icon.svg");
    background-size: cover;
    
}

@media (max-width:1050px){
    
    #NavSection{
        width: fit-content;
    }
    

    
}
@media (max-width:768px){
    #logo img{
        width: 10rem;
    }

    .navbar{
        width: 6%;
        height: 20%;
        /* background-color: transparent; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 1.4rem;
        margin-left: 1%; */
        border-bottom-right-radius: 50px;
        position: sticky;
        top: 0px;
    }
    .navbar:hover{
        background-color: #5f249f;
    }
    #NavSection{
        
        display: none;
       
    }
    
    #NavSection li{
        list-style: none;
        display: inline;
        margin-left: 20px;
        color: black;
    
    }
    .SearchBar{
        display: inline;
       /* width: 8em; */
       margin-left: 10px;
    
    }
    .SearchBar button{
        width: 5rem;
        height: 1.6rem;
        border-radius: 10px ;
        border: none;
        background-color:#5f249f;
        color:white;
    }
    .SearchBar button:hover{
        background-color: white;
        color: #5f249f;
    }
    .SearchBar input{
        width: 12rem;
        height: 1.4rem;
        background-color: #5f249f;
        border: 1.7px solid white;
        border-radius: 30px;
        color: white;
        text-align: center;
        /* box-shadow: 1px 1px 9px white inset; */
    }
    .SearchBar input:hover{
        background-color: white;
        color: #5f249f;
    }
    .Login{
        width: 20%;
        display: flex;
        /* justify-content:; */
        margin-left: 8rem;
    }
    .Login button{
        width: 80px;
        height: 50px;
        /* margin: 10px; */
        background-color:#5f249f;
        border-color: white;
        border: none;
        border-radius: 30px;
        color:white;
        
    }
    .Login button:hover{
     background-color: white;
     color: #5f249f;
     box-shadow: 1px 5px 80px rgb(222, 212, 212);
    }
    #menucheckbox{
        display: none;
    }
    #menuicon{
        display: none;
        color: white;
        width: 30px;
        height: 30px;
        background-image: url("/assets/imgfolder/menu-icon.svg");
        background-size: cover;
        
    }
}