<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./forgotpasspage.component.css" />
  </head>
  <body>
    <!-- <app-navbar></app-navbar> -->
    <div class="page container-fluid d-flex justify-content-center align-items-center">
      <div id="left" class="mb-0">
        <!-- when making a grid, two columns should have same class and style: float:left and width 50% should be applied to make them appear next to each other -->
        <h2 style=" font-weight: 520" class="lefttext">
          Reset Your DXC Pay Password for Account Access
        </h2>
        <small class="lefttext"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget
          imperdiet urna, sed semper enim. Praesent hendrerit nisl ex, vel
          semper lacus luctus et.
        </small>
        <div class="image d-flex"></div>
      </div>

      <div id="right" class="mb-2">
        <div class="logo py-0">
          <!-- <span class="logo1">
             <i id=" logotop" class="fa-solid fa-chart-line"></i>
             <span id="logotop" style="color: #5f249f"><b>Fil</b></span>
             <span ><b>uick</b></span>
          </span>
          <span id="logo2">
            <pre>__________</pre> -->
          <!-- <i class="fa-solid fa-minus"></i> -->
          <!-- <b style="color: #5f249f; font-size: 11px;">Pay</b>
          </span> -->
          <img src="assets/imgfolder/DXC Logo.png" width="35%" />
        </div>

        <div class="container  rounded-3 px-3">
          <h3 id="righttext">Forgot Password?</h3>
          <small id="righttext" style="color: gray"
            >No worries, we will send you instructions for reset</small
          >
        
          <small *ngIf="submitted" class="m-3 text-center" >Email Sent!Please check your inbox</small>

          <div class="inputbox d-flex-column justify-content-start align-items-center">
            <label for="name" style="color: gray"
              >First Name: <input
                [(ngModel)]="uname"
                class="input mb-3"
                type="name"
                value="Enter your first name"
                
              /></label
            >
          
            <label for="email" style="color: gray">Email:</label>
            
            @for (user of userlist; track user.id){ @if(uname==user.firstName){

            <input  class="input" type="email" value="{{ user.email }}" />
            <br />
            <br />
            }}
          </div>

          <span class="buttons">
            <button (click)="submit()"
              style="
                background-color: #5f249f;
                color: white;
                border-color: white;
              "
            >
              Reset Password
            </button>
            <br />
            <button routerLink="" id="back">Back</button>

          </span>
        </div>
      </div>
    </div>
  </body>
</html>
